@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
.clear{
    clear: both;
}
/*header css */
#header{
    display: flex;
    height: 80px;
    justify-content: space-between; 
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.5s ease;
}

.scrolling-active {
    background: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
/*end header css */

/*logo css */
#logo{
    margin-left: 3%;
    color: #FF4A52;
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
}
#logo a{
    text-decoration: none;
}
/*end logo css */

/*navbar css */
#navbar{
    /* position: absolute;
    right: 15%;
    top: 0; */
}
#navbar ul li{
    position: relative;
    display: inline-block;
    margin: 0 25px;
    z-index: 99;
}
#navbar ul li a{
    line-height: 80px;
    color: #3C5A98;
    text-decoration: none;
    font-weight: 600;
    display: block;
}
#navbar .subnav{
    position: absolute;
    top: 70px;
    border-radius: 8px;
    left: -25px;
    background-color: #FF4A52;
    width: 200px;
    height: auto;
    display: none;
}
#navbar  li:hover .subnav{
    display: block;
}
#navbar .subnav a{
    line-height: 45px;
    color: #fff;
}
#navbar li::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #ff1256;
    left: 0;
    bottom: 0;
    transform: scale(0,1);
    transition: .4s;
}
#navbar li:hover::before,
#navbar li a:hover{
    color: #F64C72;
    transform: scale(1,1);
}
#navbar ul li ul li:hover::before,
#navbar ul li ul li a:hover{
    color: #fff;
    transform: scale(0,1);
}

/*end navbar css */

/* menu-toggle mobile css */
#header .menu-toggle {
    color: #01ce69;
    float: left;
    margin-left: 15px;
    line-height: 80px;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
/*end menu-toggle mobile css */

/*cart css */
#cart {
    margin-right: 3%;
    line-height: 80px;
    cursor: pointer;
    color: #FF4A52;
}
#cart i{
    margin: 0 10px;
    font-size: 20px;
}
#cart a{
    text-decoration: none;
    color: #FF4A52;
}
#cart span{
    color: #3C5A98;
}
.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}
  
.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}
#numberCart{
    font-size: 12px;
    background: #EDD83C;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -15px; 
    
}
/*end cart css */

/*slider css */
#slider{
    position: relative;
    background-image: url('../images/bg-slideshow-v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    z-index: 1;
}
#slider .container{
    padding-top: 20%;
    padding-left: 8%;
    color: #000;
    width: 100%;
    height: 600px;
}
#slider .container .intro-content{
    width: 40%;
}
#slider .container h1,
#slider .container h2,
#slider .container p{
    line-height: 50px;
}
#slider .container h1{
    font-size: 46px;
}
#slider .container h2 span{
    color: #C5A645;
}
#slider .container p{
    font-size: 16px;
}
#slider .container button{
    padding:20px 45px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;
}
#slider .container button:hover{
    color: #000;
    background: #FF4A52;
}
.img-slideshow{
    position: absolute;
    right: 3%;
    top: 15%;
    width: 50%;
}
.img-slideshow img{
    width: 100%;
    vertical-align: middle;
}
/*end slider css */

/* content css */
#content{
    padding:0 35px;
}
#content #services-section{
    padding-top: 80px;
}
#services-section .container .box{
    text-align: center;
}
#services-section .container .icon-services{
    font-size: 28px;
    color: #C7B299;
    width: 80px;
    height: 80px;
    margin: 20px auto;
    border: 4px solid #C7B299;
    border-radius: 50%;
    transition: 0.3s;
}
#services-section .container .icon-services:hover{
    background-color: #C7B299;
    color: #fff;
}
#services-section .container .icon-services i{
    line-height: 70px;
}
#services-section .container .content-services h4{
    font-size: 22px;
}
#services-section .container .content-services p{
    font-size: 16px;
    opacity: 0.8;
}
#services-section .container .content-services {
    line-height: 30px;
    color: #333;
}
#best-seller-section{
    padding-top: 80px;
}

#best-seller-section .best-seller-header{
    margin-top: 80px;
    text-align: center;
    font-size: 22px;
}
#best-seller-section .line{
    border-bottom: 1px solid #979797;
    margin:20px 25%;
}
#best-seller-section .container{
    margin-top: 80px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 10%);
}
.product{
    text-align: center;
    margin: 30px 0; 
}
.product p{
    font-size: 18px;
    padding: 5px 0;
}
.product .name-product{
    color: #3C5A98;
}
.product .price-product{
    color: #FF4A52;
}

.product .img-product img{
    width: 100%;
    vertical-align: middle;
}
.product .add-cart{
    width: 100%;
}
.product .add-cart .add-cart-btn{
    width: 200px;
    padding: 15px 0;
    color: #fff;
    background-color: #FF4A52;
    display: inline-block;
    text-decoration: none;
    border:1px solid #FF4A52;
    transition: 0.3s;
}
.product .add-cart .add-cart-btn:hover{
    cursor: pointer;
    color: #FF4A52;
    background-color: #fff;
}
.view-product{
    padding:15px 0 30px;
}
.view-product a{
    width: 80%;
    padding: 15px 0px;
    color: #fff;
    background-color: #01ce69;
    display: inline-block;
    text-decoration: none;
    border:1px solid #01ce69;
    transition: 0.3s;
}
.view-product a:hover{
    cursor: pointer;
    color: #01ce69;
    background-color: #fff;
}
.product-single{
    background-color: #fff;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 10%);
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
}
.product-single:hover{
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 30%);
}
/*end content css */

/* menu section css */
#menu-section{
    color: #fff;
    margin: 50px -35px;
    background-image: url('../images/bg-info-v3.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 80px 0;
}
#menu-section .menu-header{
    text-align: center;
    padding-bottom: 25px;
}
#menu-section .menu-header h2{
    font-size: 30px;
    position: relative;
}
#menu-section .title-heading:before{
    content: '';
    position: absolute;
    border-bottom: 2px solid;
    border-color: currentColor;
    display: inline-block;
    width: 5%;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#menu-section .menu-header p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
#menu-section .container{
    padding: 0 35px;
}
#menu-section .line{
    border-bottom: 1px dashed #fff;
    padding-top: 15px;
}
#menu-section .material{
    display: flex;
    justify-content: space-between;
}
.name-cake{
    margin-bottom: 25px;
}
.material span{
    color: #EDD83C;
    font-weight: 700;
}
/* end menu section css */

/* time open css*/
#opentime{
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}
.opentime-container{
    position: absolute;
    text-align: center;
    z-index: 2;
}
#opentime .title-heading{
    font-size: 35px;
    color: #fff;
    font-weight: 700;
}
#opentime .slogan-title,.text-phone{
    font-size: 26px;
    color: #EDD83C;
    font-weight: 700;
}
#opentime .timedate{
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 26px;
}
#opentime .timedate p{
    font-size: 35px;
    font-weight: 700;
}
#opentime .mon-to-thur{
    margin-right: 15px;
}
#opentime .fri-to-sat{
    margin-left: 15px;
}
video{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.overflow{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(to top, transparent, #18151f);
}
/*end time open css*/

/* imgslider css */
#imgslider img{
    width: calc(100% / 6);
}
#imgslider .imgtrack{
    display: flex;
}

/* Blur-zoom Container */
.imgtrack img {
    transition: transform 2s, filter 0.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
}
/*End Blur-zoom Container */ 

/* The Transformation */
.imgtrack img:hover {
    filter: brightness(100%);
    transform: scale(1.2);
}
/*End The Transformation */

/*end imgslider css */


/* @instagram css  */
#instagram {
    margin: 100px 0;
    text-align: center;
}
#instagram i{
    font-size: 100px;
    color: #FF4A52;
}
#instagram h4 span{
    color: #FF4A52;
    font-weight: 700;
}
#instagram p{
    font-size: 18px;
}
/*end @instagram css  */

/* footer css*/
#footer {
    background-color: #040E27;
    color: #fff;
    padding-top: 80px;
    margin-top: 5%;
  }
  #footer .container{
    padding:0 60px;
  }
  #footer .footer_logo{
    font-size: 26px;
    color: #FF4A52;
    font-weight: bolder;
  }
  #footer .address {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #AAB1B7;
    margin: 40px 0;
  }
  #footer .address a{
    text-decoration: none;
    color: #AAB1B7;
    transition: 0.3s;
  }
  #footer .social-widget a{
    margin-right: 15px;
    color: #AAB1B7;
    transition: 0.3s;
    text-decoration: none;
  }
  #footer .footer_company, #footer .footer_instargram{
    font-size: 24px;
    margin-bottom: 20px;
  }
  #footer ul{
    list-style-type: none;
  }
  #footer ul li{
    line-height: 44px;
    color:#AAB1B7;
  }
  #footer ul li a{
    text-decoration: none;
    color:#AAB1B7;
    transition: 0.3s;
  }
  #footer a:hover{
    color: #ff4a52;
  }
  .ins-img img{
    width: 100%;
    border-radius: 8px;
  }
  .img-item{
      margin-bottom: 5px;
  }
  #footer .footer_widget_single{
    margin-bottom: 40px;
  }
  #footer .footer-copyright{
    margin-top: 50px;
  }
  #footer .footer-copyright .border-top-copyright{
    border-top:1px solid #363E52;
    padding-bottom: 26px;
  }
  #footer .footer-copyright .copyright-text {
    color:#AAB1B7;
    font-size: 16px;
    margin-bottom: 26px;
  }
  .footer-copyright .copyright-text p{
    text-align: center;
  }
  .footer-copyright .copyright-text i{
    font-size: 14px;
  }
  .footer-copyright .copyright-text a{
    text-decoration: none;
    color: #ff4a52;
  }
/*end footer css*/

/*---------------------CATEGORY PAGE ---------------------*/
.product-container{
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 10%); 
    padding:0 15px;
    border-radius: 5px;
}
.category-product{
    margin-top: 100px;
    padding: 0 35px;
}
.search-product{
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 30px 0 rgb(82 63 105 / 10%);
    padding: 15px;
}
.search-product label{
    color: #FF4A52;
    font-weight: 700 ;
}
.search-product .search_input{
    width: 200px;
    height: 30px;
    padding: 0 5px;
    margin: 0 0;
    border-radius: 8px;
    border: 1px solid #3C5A98;
    color:#3C5A98;
}
.search-product .search_submit{
    width: 80px;
    height: 32px;
    padding: 0 0;
    margin: 0 0;
    border: 1px solid #FF4A52;
    background-color: #FF4A52;
    color: #fff;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}
.search-product .search_submit:hover{
    color: #FF4A52;
    background-color: #fff;
}
/*---------------------END CATEGORY PAGE ---------------------*/

/*------------USER MENU---------------*/
.loginBtn-header{
    border: 1px solid #3C5A98;
    background-color: #3C5A98;
    color: #fff !important;
    height: 40px;
    transition: 0.3s;
    padding: 10px 10px;
    border-radius: 5px;
}
.loginBtn-header:hover{
    background-color: #FFF8F2;
    color:#FF4A52 !important; 

}
.user{
   display: inline;
   position: relative;
}
.usertoggle:hover {
    color: #FF5801;
}
.user-menu{
    top: 30px;
    background-color: #fff;
    width: 200px;
    height: 160px;
    border-radius: 5px;
    box-shadow:0 0 30px 0 rgb(82 63 105 / 10%);
    position: absolute;
    right:0;
    visibility: hidden;
   
}
.user-menu h4{
    line-height: 30px;
    color: #0F90F2;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.user_name{
    border-bottom: 1px solid #040E27;
}
.user-menu ul li {
    line-height: 30px;
    list-style-type: none;
    
}
.user-menu ul li a{
    color: #3C5A98 !important;
   
}
.user-menu ul li a:hover{
    color: #FF4A52 !important;
}
.active-menu-user{
    visibility: visible;
}
/*------------END USER MENU---------------*/

/*------------PROFILE USER------------*/
.inforuser_container{
    margin: 100px 15px 15px 15px;
}
.inforuser_container h2{
    text-align: center;
    color: #FF4A52;
}
.updatebtn{
    width: 200px;
    height: 50px;
    background-color: #FF4A52;
    color: #fff;
    border: 1px solid #FF4A52;
    transition: 0.3s;
    margin-top: 15px;
}
.updatebtn:hover{
    color:#FF4A52;
    background-color: #fff;
}
.inforuser_container .input-group{
    margin-bottom: 15px;
}
.inforuser_container .input-group label{
    color: #3C5A98;
    font-weight: 700;
}
/*------------END PROFILE USER------------*/

/*responsive */
@media only screen and (max-width: 1280px){

}
@media only screen and (max-width: 1203px){
    /*menu nav reponsive */
    #header .menu-toggle {
        display: block;
    }
    #navbar {
        position: absolute;
        width: 70%;
        height: calc(100vh - 60px);
        background: #fff;
        top: 60px;
        left: -100%;
        transition: 0.5s;
        border-radius: 0;
    }
    #navbar.active {
        left: 0;
    }
    #navbar ul li a {
        display: block;
        margin: 0;
        font-size: 22px;
        /* border-bottom: 1px solid #FF4A52; */
    }
    #navbar ul {
        display: block;
        width: 100%;
        /* text-align: center; */
    }
    #navbar ul li{
          display: block;
      }
    #navbar ul li .subnav{
        display: none;
        position: relative;
        top: 0;
        left: 3%;
        background-color: #fff;
      }
    #navbar ul li .subnav li{
          border-bottom: 1px solid #FF4A52;
      }
    #navbar ul li .subnav li a{
        color: #3C5A98;
        line-height: 80px;
      }
    #navbar .subnav{
          width: 300px;
      }
    #navbar ul li .subnav.show{
       display: block;
    }
    #navbar li::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #ff1256;
        left: 0;
        bottom: 0;
        transform: scale(0,1);
        transition: .4s;
    }
    #navbar  li:hover .subnav{
        display: none;
    }
    .category-product {
        padding: 0 15px;
    }
    .product p {
        font-size: 15px;
    }
    /*end menu nav reponsive */ 
  
}

@media only screen and (max-width: 740px){
    /*menu nav reponsive */
    #header .menu-toggle {
        display: block;
      }
      #navbar {
        position: absolute;
        width: 100%;
        height: calc(100vh - 60px);
        background: #fff;
        top: 60px;
        left: -100%;
        transition: 0.5s;
        border-radius: 0;
      }
      #navbar.active {
        left: 0;
      }
      #navbar ul li a {
        display: block;
        margin: 0;
        font-size: 16px;
      }
      #navbar ul {
        display: block;
        width: 100%;
        /* text-align: center; */
      }
      #navbar ul li{
          display: block;
      }
      #navbar ul li .subnav{
        display: none;
        position: relative;
        top: 0;
        left: 3%;
        background-color: #fff;
      }
      #navbar ul li .subnav li a{
        color: #3C5A98;
        line-height: 50px;
      }
      #navbar ul li .subnav li{
          border-bottom: 1px solid #FF4A52;
      }
      #navbar ul li .subnav li a{
        color: #3C5A98;
      }
      #navbar ul li .subnav.show{
       display: block;
    }
      #navbar li::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 0;
        background-color: #ff1256;
        left: 0;
        bottom: 0;
        transform: scale(0,1);
        transition: .4s;
    }
        #navbar  li:hover .subnav{
            display: none;
        }
    /*end menu nav reponsive */

    #slider .container .intro-content{
        position: absolute;
        bottom: 30px;
        width: 80%;
    }
    #slider .container .intro-content h1{
        font-size: 36px;
    }
    #slider .container .img-slideshow{
        left: 15%;
        
    }


    /*content padding */
    #content {
        padding: 0 15px;
    }
    /*end content padding */
    #services-section .container .content-services h4,
    #services-section .container .content-services p {
        font-size: 16px;
    }
    .title-heading{
        font-size: 22px;
    }
    .sideNavtoggle h2, .sideNavtoggle p{
        display: none;
    }
    .myorder-container{
        margin:100px 15px;
    }
    #menu-section{
        margin: 50px -15px;
        
    }
    #menu-section .container{
        padding: 0 15px;
    }
    #menu-section .menu-header p{
        padding: 0 10px;
    }
    #footer .container {
        padding: 0 15px;
    }
    .category-product {
        padding: 0 15px;
    }
    .product p{
        font-size: 13px;
    }
    #social-link-sidebar {
        display: none;
    }
}

/*end responsive */


/*-----------------Cart order---------------*/
.cart-order{
    padding: 0 35px;
}
.container-cart{
    padding-top:100px;
    margin: 0 -35px;
}
table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
table, th, td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
table{
    border-collapse:collapse;
}
.container-cart table{
    text-align: center;
}
.container-cart table img{
    width: 100%;
}
table {
    counter-reset: section;
}
  
.count:before {
    counter-increment: section;
    content: counter(section);
}
form input{
    width: 100%;
    padding: 15px 5px;
    margin: 5px 0;
}
form textarea{
    width: 100%;
    padding: 0 5px;
    margin: 5px 0;
}

.order-submit{
    text-align: center;
}
.order-submit button{
    color: #fff;
    background-color: #FF4A52;
    border: 1px solid #FF4A52;
    width: 200px;
    height: 50px;
    transition: 0.3s;
}
.order-submit button:hover{
    color: #FF4A52;
    background-color: #fff;
    cursor: pointer;
}
/*---------------------END Cart-order---------------------*/



