*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Mulish', sans-serif;
}
/*header css */
#header{
    height: 80px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    transition: 0.5s ease;
}

.scrolling-active {
    background: #fff;
    box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}
/*end header css */

/*logo css */
#logo{
    position: absolute;
    top: 0;
    left: 3%;
    color: #FF4A52;
    line-height: 80px;
    font-size: 30px;
    font-weight: 700;
}
/*end logo css */

/*navbar css */
#navbar{
    position: absolute;
    right: 15%;
    top: 0;
}
#navbar ul li{
    position: relative;
    display: inline-block;
    margin: 0 25px;
    z-index: 99;
}
#navbar ul li a{
    line-height: 80px;
    color: #3C5A98;
    text-decoration: none;
    font-weight: 600;
}
#navbar .subnav{
    position: absolute;
    top: 70px;
    border-radius: 8px;
    left: -25px;
    background-color: #FF4A52;
    width: 200px;
    height: auto;
    display: none;
}
#navbar  li:hover .subnav{
    display: block;
}
#navbar .subnav a{
    line-height: 45px;
    color: #fff;
}
/*end navbar css */

/*cart css */
#cart {
    position: absolute;
    right: 3%;
    top: 0;
    line-height: 80px;
    cursor: pointer;
}
#cart i{
    margin: 0 10px;
}
/*end cart css */

/*slider css */
#slider{
    position: relative;
    background-image: url('/assets/images/bg-slideshow-v2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 650px;
    z-index: 1;
}
#slider .container{
    padding-top: 20%;
    padding-left: 8%;
    color: #000;
}
#slider .container h1, .container h2, .container p{
    line-height: 50px;
}
#slider .container h1{
    font-size: 46px;
}
#slider .container h2 span{
    color: #C5A645;
}
#slider .container p{

}
#slider .container button{
    padding:20px 45px;
    border-radius: 8px;
    background-color: #000;
    color: #fff;
    border: none;
}
.img-slideshow{
    position: absolute;
    right: 3%;
    top: 15%;
    width: 50%;
}
.img-slideshow img{
    width: 100%;
    vertical-align: middle;
}
/*end slider css */

#content{
    height: 1000px;
}